[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
mysqlclient = "1.4.6"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
